<!DOCTYPE html>
<html lang="es">
	<!-- bootstrap -->
  <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../../public/ADMIN/css/normalize.css">
  <link rel="stylesheet" href="../../public/ADMIN/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/ADMIN/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" href="../../public/ADMIN/js/bootstrap.min.js">
  <link rel="stylesheet" href="../../public/ADMIN/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="../../public/ADMIN/js/sweetalert2.min.js">
  <link rel="stylesheet" href="../../public/ADMIN/js/sweetalert2.all.min.js">
  <link rel="stylesheet" href="../../public/ADMIN/css/sweetalert2.min.css">
  <link rel="stylesheet" href="../../public/ADMIN/css/main.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.min.css">
    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="../../public/ADMIN/css/main.css">
  </head>


  <div class="card mt-100">
    <div class="card">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="modal fade" id="exampleModalCenter" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade show active" id="new">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                                    <form action="" class="" id="form-registrar">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Nombre</div>
                                                                <input type="text" id="nombre-registro" name="username3" class="form-control">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Correo</div>
                                                                <input type="email" id="correo-registro" name="email3" class="form-control">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">Telefono</div>
                                                                <input type="text" id="telefono-registro" name="password3" class="form-control">
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row form-group">
                                                                <div class="col col-md-3"><label for="SelectLm" class="form-control-label">Rol</label></div>
                                                                <div class="col-12 col-md-9">
                                                                    <select name="selectSm" id="SelectLm" class="form-control-sm form-control">
                                                                        <option value="0">Admin</option>
                                                                        <option value="1">Cliente</option>
                                                                        <option value="2">Empleado</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col col-md-3"><label for="SelectLm" class="form-control-label">Estado</label></div>
                                                                <div class="col-12 col-md-9">
                                                                    <select name="selectSm" id="SelectLm" class="form-control-sm form-control">
                                                                        <option value="0">Activo</option>
                                                                        <option value="1">Inactivo</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button id="alert-registrar" type="submit" class="btn btn-success btn-sm">Registrar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> head}}
<body>
	<!-- SideBar -->
	{{> sidebar}}

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge">7</span>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Usuarios <small>Admin</small></h1>
			</div>

			</div>

			<div class="card">
				<div class="card-header">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                  Registrar usuario
                </button>

                <!-- modal uno ver -->
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modu">
                  Launch demo modal
                </button> -->
                
                <!-- Modal -->
                <div class="modal fade" id="modu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ver el registro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Nombre: Samuel</p>
                        <p>Correo: Samuel@gmail.com</p>
                        <p>Telefono: 3124556789</p>
                        <p>Rol: Cliente</p>
                        <p>Estado: Activo</p>
                      </div>
                      <div class="modal-footer">
                        
                      </div>
                    </div>
                  </div>
                </div>
                
      
                
                
               
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    
                    <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Telefono</th>
                      <th>Rol</th>
                      <th>Estado</th>
                      <th>Acciones</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01</td>
                      <td>Samuel</td>
                      <td>Samuel@gmail.com</td>
                      <td>3124556789</td>
                      <td>Cliente</td>
                      <td>Activo</td>
                      <td>
                        
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modu">Ver</button>
                        <button type="button" class="btn btn-danger" id="alert-eliminar">Eliminar</button>
                        <a href="usuarioModificar.html"><button type="button" class="btn btn-warning" >Modificar</button></a>
                      </td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>Lucia</td>
                      <td>Lucia@gmail.com</td>
                      <td>3135139595</td>
                      <td>Cliente</td>
                      <td>Activo</td>
                      <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modu">Ver</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#alert-eliminar">Eliminar</button>
                        <a href="usuarioModificar.html"><button type="button" class="btn btn-warning" >Modificar</button></a>
                        </td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>Lauro</td>
                      <td>Lauro@gmail.com</td>
                      <td>3145770613</td>
                      <td>Barbero</td>
                      <td>Inactivo</td>
                      <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modu">Ver</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#alert-eliminar">Eliminar</button>
                        <a href="usuarioModificar.html"><button type="button" class="btn btn-warning" >Modificar</button></a>
                      </td>
                    </tr>
                    <tr>
                      <td>04</td>
                      <td>Hector</td>
                      <td>Hector@gmail.com</td>
                      <td>314556768</td>
                      <td>Administrador</td>
                      <td>Activo</td>
                      <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modu">Ver</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#alert-eliminar">Eliminar</button>
                        <a href="usuarioModificar.html"><button type="button" class="btn btn-warning" >Modificar</button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
			
    </div>
  </div>
</div>
<!-- Bootstrap JS, jQuery, y Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>

    <!-- Tu JavaScript personalizado -->
    <script src="../../public/ADMIN/js/usuarioDas.js"></script>

		
</body>
</html>