<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Baberia orión <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="dashboard-sideBar-UserInfo">
				<figure class="">
					<img src="./ADMIN/assets/img/usuario.png" alt="UserIcon">
					<figcaption class="text-center text-titles">Usuario</figcaption>
				</figure>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="/graficas">
						DASHBOARD
					</a>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						CONFIGURACIÓN <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Roles">ROLES</a>
						</li>
						<li>
							<a href="/Permisos">PERMISOS</a>
						</li>
						<li>
							<a href="/Perfil">MI PERFIL</a>
						</li>
					</ul>
					
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						USUARIOS <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Usuarios">USUARIOS</a>
						</li>
						
					</ul>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						COMPRAS <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Proveedores"> PROVEEDORES</a>
						</li>
						<li>
							<a href="/Categorias">CATEGORIA</a>
						</li>
						<li>
							<a href="/ProductoAdmin"> PRODUCTOS</a>
						</li>
						<li>
							<a href="/Compras"> COMPRAS</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						SERVICIOS <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/ServiciosA"> SERVICIOS</a>
						</li>
						<li>
							<a href="/Empleados"> EMPLEADOS</a>
						</li>
						<li>
							<a href="/Horario"> PROGRAMACIÓN</a>
						</li>
						<li>
							<a href="/Recomendaciones"> RECOMENDACIONES</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="btn-sideBar-SubMenu">
						VENTAS <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/Clientes"> CLIENTES</a>
						</li>
						<li>
							<a href="/Ventas"> VENTAS</a>
						</li>
						<li>
							<a href="/Citas"> CITAS</a>
						</li>
						<li>
							<a href="/pedidosDetalle">PEDIDOS</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	