<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="./js/bootstrap-clockpicker.js"></script>
    <script src="./js/sweetalert.js"></script>
    <script src="./js/validaciones/agendar.js"></script>

    {{!-- <script src="./js/validaciones.js"></script> --}}


    
    <script src="js/bootstrap-clockpicker.js"></script>
    <link rel="stylesheet" href="assets/css/agenda.css">

    <link rel="stylesheet" href="assets/css/nfAgendar.css">
    <link rel="stylesheet" href="css/bootstrap-clockpicker.css">
    <style>
                .error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        }

    </style>
    <title>Calendario</title>
    </head>
<body>
    {{!-- nav --}}
    <div class="header-area header-transparent pt-20">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="/admin"><img src="assets/img/logo/logo.png" alt="" width="110px"
                                        height="110px"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="dos" href="/">Inicio</a></li>
                                            <li><a class="uno" href="/servicios">Servicios</a></li>
                                            <li><a class="dos" href="/productos">Productos</a></li>
                                            <li><a class="uno" href="/agendar">Agendar</a></li>
                                            <li><a class="dos" href="#Contactanos">Contactenos</a></li>
                                            <li><a href="/login" class="btn header-btn" id="boton-session">Iniciar sesion</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                {{!-- <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                    <a href="/login" class="btn header-btn" id="boton-session">Iniciar sesion</a>
                                </div> --}}
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{!-- nav --}}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-7"><div id="calendar"></div></div>
            <div class="col"></div>
        </div>

    </div>

    <script>
        $(document).ready(function(){
        $('#calendar').fullCalendar(
            {
                header:{
                    left:'today, prev,next',
                    center:'title',
                    right:'month, basicWeek, agendaWeek, agendaDay'

                },
                dayClick:function(date,jsEvent,view){
                    limpiarFormulario();
                    $('#txtFecha').val(date.format());
                    $("#ModalEventos").modal();

                },
               
                events:'http://localhost/calendario/eventos.php',
                
                eventClick:function(calEvent,jsEvent,view){
                    $('#tituloEvento').html(calEvent.title);
                    
                    $('#txtDescripcion').val(calEvent.descripcion);
                    $('#txtID').val(calEvent.id);
                    $('#txtTitulo').val(calEvent.title);
                    $('#txtColor').val(calEvent.color);

                    FechaHora = calEvent.start._i.split(" ");
                    $('#txtFecha').val(FechaHora[0]);
                    $('#txtHora').val(FechaHora[1]);

                    $("#ModalEventos").modal();

                },
                editable:true,
                eventDrop: function(calEvent){
                    
                    $('#txtID').val(calEvent.id);
                    $('#txtTitulo').val(calEvent.title);
                    $('#txtColor').val(calEvent.color);
                    $('#txtDescripcion').val(calEvent.descripcion);

                    var fechaHora=calEvent.start.format().split("T");
                    $('#txtFecha').val(FechaHora[0]);
                    $('#txtHora').val(FechaHora[1]);

                    RecolectarDatosGUI();
                    EnviarInformacion('modificar', NuevoEvento);


                }

            }
        );});
    </script>

    <!-- Modal -->
<div class="modal fade" id="ModalEventos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloEvento">Agendar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div id="descripcionEvento"></div>
          <input type="hidden" name="txtID"  id="txtID">
          <input type="hidden" id="txtFecha" name="txtFecha" >

          <div class="form row">
                <div class="form-group col-md-8">
                    
                    <label for="">Titulo del evento</label><br>
                     <input type="text"class="form-control"  id="txtTitulo" name="txtTitulo" placeholder="Titulo del evento">
                    <div id="mensaje-error-titulo" class="error"></div>
                   
  
                </div>
                <div class="form-group col-md-4">
                    <label for="">Hora del evento</label><br>
                    <div class="input-group clockpicker" data-autoclose="true">
                        <input type="time"class="form-control" value="10:30"  id="txtHora" name="txtHora" >
                    </div>
                </div>
             
            </div>

          <div class="form-group">
                <label for="">Descripcion del servicio</label><br>
                         <input type="checkbox" id="checkbox1" name="servicio" value="barba">
                            <label for="checkbox1"> Barba</label><br>
                            <input type="checkbox" id="checkbox2" name="servicio" value="corte de pelo">
                            <label for="checkbox2">Corte de pelo</label><br>
                            <input type="checkbox" id="checkbox3" name="servicio" value="cejas">
                            <label for="checkbox3">Cejas</label><br>
                            <input type="checkbox" id="checkbox4" name="servicio" value="lavado de pelo">
                            <label for="checkbox4">Lavado de pelo</label><br>
                            <div id="mensaje-error-checkbox" class="error"></div>
                            
                            
          </div>
       
            <div class="form-group">
                <label for="">Color</label><br>
                <input type="color"  value="#ff0000" id="txtColor" class="form-control" name="txtFecha" style="height: 36px;" >
                
            </div>

          
        </div>
        <div class="modal-footer">
        {{!-- <button id="btnEnviar">Enviar</button>
        <button id="btnModificar">Modificar</button> --}}
        <button id="btnEnviar" type="button" class="btn btn-success" >Agregar</button>
        <button id="btnModificar" type="button" class="btn btn-secondary" >Modificar</button>
        <button   type="button" onclick="Eliminar()" class="btn btn-danger" >Borrar</button>
        <button  type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

   <script>
// Función para validar el campo de título del evento
function validarTitulo() {
    var titulo = document.getElementById('txtTitulo').value.trim();
    var mensajeError = document.getElementById('mensaje-error-titulo');
    
    if (titulo === '') {
        mensajeError.textContent = 'Por favor ingresa un título.';
        return false;
    } else {
        mensajeError.textContent = '';
        return true;
    }
}

// Función para validar al menos un checkbox seleccionado
function validarCheckbox() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    var mensajeError = document.getElementById('mensaje-error-checkbox');
    
    if (checkboxes.length === 0) {
        mensajeError.textContent = 'Por favor selecciona al menos un servicio.';
        return false;
    } else {
        mensajeError.textContent = '';
        return true;
    }
}

// Escuchador de eventos para validar el campo de título cuando se pierde el foco
document.getElementById('txtTitulo').addEventListener('blur', validarTitulo);

// Escuchador de eventos para validar los checkbox cuando se pierde el foco
document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
    checkbox.addEventListener('change', validarCheckbox);
});

// Función para enviar o modificar el formulario
function enviarOModificarFormulario() {
    var esTituloValido = validarTitulo();
    var esCheckboxValido = validarCheckbox();
    
    if (esTituloValido && esCheckboxValido) {
        // Mostrar alerta de "Creado exitosamente" utilizando SweetAlert
        Swal.fire({
            title: '¡Creado exitosamente!',
            text: 'El formulario se ha enviado con éxito.',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        });
    } else {
        // Alerta de SweetAlert para indicar que debe completar el formulario correctamente
        Swal.fire({
            title: 'Error',
            text: 'Por favor, completa el formulario correctamente antes de enviar.',
            icon: 'error',
            confirmButtonText: 'Aceptar'
        });
    }
}

// Escuchador de eventos para enviar el formulario cuando se hace clic en el botón "Enviar"
document.getElementById('btnEnviar').addEventListener('click', enviarOModificarFormulario);

// Escuchador de eventos para modificar el formulario cuando se hace clic en el botón "Modificar"
document.getElementById('btnModificar').addEventListener('click', enviarOModificarFormulario);
</script>
  {{!-- validacion fin --}}

  

  <script>

    $('#btnAgregar').click(function() {
        RecolectarDatosGUI();
        EnviarInformacion('agregar', NuevoEvento);
    });

    $('#btnEliminar').click(function() {
        RecolectarDatosGUI();
        EnviarInformacion('eliminar', NuevoEvento);
    });
    $('#btnModificar').click(function() {
        RecolectarDatosGUI();
        EnviarInformacion('modificar', NuevoEvento);
    });

    function RecolectarDatosGUI(){
        NuevoEvento={
                id: $('#txtID').val(),
                title:$('#txtTitulo').val(),
                start:$('#txtFecha').val()+" "+$('#txtHora').val(),
                color:$('#txtColor').val(),
                descripcion:$('#txtDescripcion').val(),
                textColor:"#FFFFFF",
                end:$('#txtFecha').val()+" "+$('#txtHora').val()
        };
    }
    function EnviarInformacion(accion,objEvento){ 
        $.ajax(
            {
                type:'POST',
                url:'eventos.php?accion='+accion,
                data:objEvento,
                success:function(msg){
                    if(msg){
                        $('#CalendarioWeb').fullCalendar('refetchEvents');
                        $("#ModalEventos").modal('toggle');

                        
                         }
                },
                error:function(){
                    alert("Hay un error...");
                }
            }
        )
    }

    $('.clockpicker').clockpicker();

    function limpiarFormulario(){
                $('#txtID').val('');
                $('#txtTitulo').val('');
                $('#txtColor').val('');
                $('#txtDescripcion').val('')
    }
  </script>

  <br>
  <br>

  
    
        <footer id="Contactanos">
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="assets/img/gallery/footer_bg.png">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="" width="100px" height="100px"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="info1">Reciba actualizaciones y las últimas noticias directamente desde aca.</p>
                                    </div>
                                </div>
                                <div class="footer-number">
                                    <h4><span class="cc">+57 </span>3197437259</h4>
                                    <p>Barberiaorion1@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Ubicacion </h4>
                                    <ul>
                                        <li><a href="#">Avanzado</a></li>
                                        <li><a href="#">Gestión</a></li>
                                        <li><a href="#">Corporativo</a></li>
                                        <li><a href="#">Cliente</a></li>
                                        <li><a href="#">Información</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Explorar</h4>
                                    <ul>
                                        <li><a href="#">Cookies</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Proparties</a></li>
                                        <li><a href="#">Licenses</a></li>
                                    </ul>
                                </div>
                            </div>
                            {{!-- aqui --}}
                        </div>
                        
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contactanos</h4>
                                    <div class="footer-pera">
                                        <p class="info1"></p>
                                    </div>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank"
                                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email"
                                                placeholder=" Email Address " class="placeholder hide-on-focus"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm">Send</button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank"></a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
</body>
</html>