<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> BARBERIA-ORION-PRODUCTOS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/logo.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/carrito.css">

</head>

<body>
    <!--  -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- -->

    <!--Navbar-->
    {{> nav}}
  <style>
        .btn1 {
            width: 50px; /* Tamaño del botón */
            height: 50px; /* Tamaño del botón */
            border-radius: 50%; /* Forma redonda */
            border: none; /* Sin borde */
            background-color: #ffffff; /* Color de fondo */
            color: white; /* Color del texto */
            font-size: 20px; /* Tamaño del texto */
            cursor: pointer;
            transition: background-color 0.3s; /* Transición suave al pasar el ratón */
            display: flex; /* Mostrar contenido como flexbox */
            justify-content: center; /* Centrar contenido horizontalmente */
            align-items: center; /* Centrar contenido verticalmente */
        }
        .btn1:hover {
            background-color: #0a2a6e; /* Cambio de color al pasar el ratón */
        }
        .icono-ojo {
            width: 24px; /* Tamaño del ícono */
            height: 24px; /* Tamaño del ícono */
            background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 12a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zm0 2a6 6 0 100 12 6 6 0 000-12zm0 3a3 3 0 100 6 3 3 0 000-6z" clip-rule="evenodd"/></svg>');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <!-- Navbar-->

    <main>
        <!--Titulo grande -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>NUESTROS PRODUCTOS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Titulo grande -->




        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Campo de búsqueda con estilo H&M -->
                    <div class="input-group mb-3">
                        <input type="text" id="filtro" class="form-control" placeholder="Buscar productos"
                            aria-label="Buscar productos" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Opciones de filtrado con estilo H&M -->
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="filtroSelect"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filtroSelect">
                            <a class="dropdown-item" href="#" value="menorPrecio">Menor Precio</a>
                            <a class="dropdown-item" href="#" value="mayorPrecio">Mayor Precio</a>
                            <a class="dropdown-item" href="#" value="ordenAlfabetico">Orden Alfabético</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="contenedor">
            <div class="contenedor-items">
                <div class="item">
                    <span class="titulo-item">Cera</span>
                    <img src="assets/img/gallery/cera.webp" alt="" class="img-item">
                    <span class="precio-item">$15.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Reloj</span>
                    <img src="assets/img/gallery/Reloj2.webp" alt="" class="img-item">
                    <span class="precio-item">$25.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Areta de plata </span>
                    <img src="assets/img/gallery/Aretas de plata.jpg" alt="" class="img-item">
                    <span class="precio-item">$35.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                          <button class="btn1">
        <span class="icono-ojo" aria-hidden="true"></span>
    </button>
                </div>
                <div class="item">
                    <span class="titulo-item">Manilla</span>
                    <img src="assets/img/gallery/Manilla.png" alt="" class="img-item">
                    <span class="precio-item">$18.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Gorra boss</span>
                    <img src="assets/img/gallery/Gorra.png" alt="" class="img-item">
                    <span class="precio-item">$32.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                       
                    </div>
                <div class="item">
                    <span class="titulo-item">Minoxidil</span>
                    <img src="assets/img/gallery/minoxidil.webp" alt="" class="img-item">
                    <span class="precio-item">$18.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Locion</span>
                    <img src="assets/img/gallery/Locion2.jpg" alt="" class="img-item">
                    <span class="precio-item">$54.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Shampoo</span>
                    <img src="assets/img/gallery/Shampoo.webp" alt="" class="img-item">
                    <span class="precio-item">$32.000</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Gel para afeitar</span>
                    <img src="assets/img/gallery/Gelafeitar.webp" alt="" class="img-item">
                    <span class="precio-item">$42.800</span>
                    <button class="boton-item">Agregar al Carrito</button>
                </div>
            </div>
            <!-- Carrito de Compras -->
            <div class="carrito" id="carrito">
                <div class="header-carrito">
                    <h2>Tu Carrito</h2>
                </div>

                <div class="carrito-items">

                </div>
                <div class="carrito-total">
                    <div class="fila">
                        <strong>Tu Total</strong>
                        <span class="carrito-precio-total">
                            $120.000,00
                        </span>
                    </div>
                    <button class="btn-pagar">Hacer pedido <i class="fa-solid
fa-bag-shopping"></i> </button>
                </div>
            </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const filtroInput = document.getElementById('filtro');
                const filtroSelect = document.querySelectorAll('#filtroSelect .dropdown-item');

                filtroInput.addEventListener('input', function () {
                    const filtro = this.value.toLowerCase();
                    const items = document.querySelectorAll('.contenedor-items .item');
                    items.forEach(function (item) {
                        const titulo = item.querySelector('.titulo-item').textContent.toLowerCase();
                        if (titulo.includes(filtro)) {
                            item.style.display = 'block';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                });

                filtroSelect.forEach(function (item) {
                    item.addEventListener('click', function () {
                        const filtro = this.getAttribute('value');
                        const items = document.querySelectorAll('.contenedor-items .item');
                        items.forEach(function (item) {
                            item.style.display = 'block';
                        });
                        if (filtro === 'menorPrecio') {
                            ordenarPorPrecio('menor');
                        } else if (filtro === 'mayorPrecio') {
                            ordenarPorPrecio('mayor');
                        } else if (filtro === 'ordenAlfabetico') {
                            ordenarAlfabeticamente();
                        }
                    });
                });

                function ordenarPorPrecio(orden) {
                    const items = document.querySelectorAll('.contenedor-items .item');
                    const sortedItems = Array.from(items).sort(function (a, b) {
                        const precioA = parseFloat(a.querySelector('.precio-item').textContent.replace('$', '').replace(',', ''));
                        const precioB = parseFloat(b.querySelector('.precio-item').textContent.replace('$', '').replace(',', ''));
                        if (orden === 'menor') {
                            return precioA - precioB;
                        } else {
                            return precioB - precioA;
                        }
                    });
                    const contenedor = document.querySelector('.contenedor-items');
                    contenedor.innerHTML = '';
                    sortedItems.forEach(function (item) {
                        contenedor.appendChild(item);
                    });
                }

                function ordenarAlfabeticamente() {
                    const items = document.querySelectorAll('.contenedor-items .item');
                    const sortedItems = Array.from(items).sort(function (a, b) {
                        const tituloA = a.querySelector('.titulo-item').textContent.toLowerCase();
                        const tituloB = b.querySelector('.titulo-item').textContent.toLowerCase();
                        return tituloA.localeCompare(tituloB);
                    });
                    const contenedor = document.querySelector('.contenedor-items');
                    contenedor.innerHTML = '';
                    sortedItems.forEach(function (item) {
                        contenedor.appendChild(item);
                    });
                }
            });
        </script>
    </main>

    <!-- Carrito -->

    <!--Pie de pagina-->
    {{>footer}}
    <!-- Pie de pagina-->

    <!-- Flecha up  -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- Todo js -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/Carrito.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.slicknav.min.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>
    <script src="./assets/js/gijgo.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <script src="./assets/js/hover-direction-snake.min.js"></script>
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

</body>

</html>