<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> BARBERIA-ORION-PRODUCTOS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/logo.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/carrito.css">

</head>

<body>
    <!--  -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- -->

    <!--Navbar-->
    {{> nav}}
    <style>
        .btn1 {
            width: 30px;
            /* Tamaño del botón */
            height: 30px;
            /* Tamaño del botón */
            border-radius: 50%;
            /* Forma redonda */
            border: none;
            /* Sin borde */
            background-color: #0c5cc4;
            /* Color de fondo */
            color: white;
            /* Color del texto */
            font-size: 20px;
            /* Tamaño del texto */
            cursor: pointer;
            transition: background-color 0.3s;
            /* Transición suave al pasar el ratón */
            display: flex;
            /* Mostrar contenido como flexbox */
            justify-content: center;
            /* Centrar contenido horizontalmente */
            align-items: center;
            /* Centrar contenido verticalmente */
        }

        .btn1:hover {
            background-color: #0a2a6e;
            /* Cambio de color al pasar el ratón */
        }

        .icono-ojo {
            width: 15px;
            /* Tamaño del ícono */
            height: 15px;
            /* Tamaño del ícono */
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* Estilos del modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 15px;
            /* Bordes redondeados */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            /* Tamaño máximo */
            border-radius: 15px;
            /* Bordes redondeados */
        }

        /* Estilos para la descripción y beneficios */
        .modal-body {
            position: relative;
        }

        .descripcion,
        .beneficios {
            display: none;
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            font-size: 14px;
            line-height: 1.4;
            max-width: 80%;
            transition: opacity 0.3s ease-in-out;
        }

        .descripcion::before,
        .beneficios::before {
            content: "";
            position: absolute;
            top: -5px;
            left: calc(50% - 5px);
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
        }

        .beneficios {
            bottom: auto;
            top: 10px;
        }

        /* Ajustes de imagen */
        .img-item {
            max-width: 100%;
            /* Ajustar tamaño de la imagen */
            border-radius: 15px;
            /* Bordes redondeados */
        }

        .buttons-wrapper {
            display: flex;
            justify-content: center;
        }

        .search-box {
            display: flex;
            align-items: center;
            border: 1px solid #ced4da;
            border-radius: 15px;
            overflow: hidden;
        }

        .form-control {
            flex: 1;
            border: none;
            padding: 10px;
            font-size: 16px;
        }

        .btn-search {
            background-color: #0b4b8f;
            color: #fff;
            border: none;
            padding: 10px 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-search:hover {
            background-color: #0d437c;
        }
    </style>

    <!-- Navbar-->

    <main>
        <!--Titulo grande -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>NUESTROS PRODUCTOS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Titulo grande -->



        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Campo de búsqueda estilizado -->
                    <div class="search-box">
                        <input type="text" id="filtro" class="form-control" placeholder="Buscar productos">
                        <button class="btn btn-search" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Opciones de filtrado con estilo H&M -->
                    <div class="dropdown float-right">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="filtroSelect"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filtroSelect">
                            <a class="dropdown-item" href="#" value="menorPrecio">Menor Precio</a>
                            <a class="dropdown-item" href="#" value="mayorPrecio">Mayor Precio</a>
                            <a class="dropdown-item" href="#" value="ordenAlfabetico">Orden Alfabético</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="contenedor">
            <div class="contenedor-items">
                <div class="item">
                    <span class="titulo-item">Cera</span>
                    <img src="assets/img/gallery/cera.webp" alt="" class="img-item">
                    <span class="precio-item">$15.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                    <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Esta cera proporciona una fijación fuerte y
                        duradera para estilos de cabello diversos. Su fórmula de alta calidad permite moldear y definir
                        el cabello con facilidad, ofreciendo un acabado mate natural.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Fijación fuerte y duradera.</li>
                        <li>Permite moldear y definir el cabello con facilidad.</li>
                        <li>Acabado mate natural.</li>
                    </ul>
                </div>




                <div class="item">
                    <span class="titulo-item">Reloj</span>
                    <img src="assets/img/gallery/Reloj2.webp" alt="" class="img-item">
                    <span class="precio-item">$25.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                     <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Este reloj es un accesorio elegante y funcional
                        que complementará cualquier estilo. Con un diseño moderno y materiales de alta calidad, es
                        perfecto para uso diario o para ocasiones especiales.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Accesorio elegante y funcional.</li>
                        <li>Diseño moderno y materiales de alta calidad.</li>
                        <li>Perfecto para uso diario o para ocasiones especiales.</li>
                    </ul>
                </div>



                <div class="item">
                    <span class="titulo-item">Areta de plata</span>
                    <img src="assets/img/gallery/Aretas de plata.jpg" alt="" class="img-item">
                    <span class="precio-item">$35.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                      <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Estas aretas de plata son elegantes y versátiles,
                        perfectas para añadir un toque de brillo a cualquier atuendo. Hechas con plata de alta calidad,
                        son una opción ideal para uso diario o para ocasiones especiales.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Agrega un toque de brillo a cualquier atuendo.</li>
                        <li>Hechas con plata de alta calidad.</li>
                        <li>Perfectas para uso diario o para ocasiones especiales.</li>
                    </ul>
                </div>


                <div class="item">
                    <span class="titulo-item">Manilla</span>
                    <img src="assets/img/gallery/Manilla.png" alt="" class="img-item">
                    <span class="precio-item">$18.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                     <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Esta manilla es un accesorio versátil que
                        complementará cualquier estilo. Hecha de materiales duraderos, es perfecta para uso diario y
                        ocasiones especiales.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Agrega un toque de estilo a cualquier outfit.</li>
                        <li>Hecha de materiales duraderos y de alta calidad.</li>
                        <li>Perfecta para uso diario o para ocasiones especiales.</li>
                    </ul>
                </div>



                <div class="item">
                    <span class="titulo-item">Gorra boss</span>
                    <img src="assets/img/gallery/Gorra.png" alt="" class="img-item">
                    <span class="precio-item">$32.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                     <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Esta gorra estilo "boss" es perfecta para
                        completar tu outfit casual o deportivo, agregando un toque de estilo y personalidad.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Agrega estilo y personalidad a tu outfit.</li>
                        <li>Perfecta para uso casual o deportivo.</li>
                        <li>Diseño de alta calidad y durabilidad.</li>
                    </ul>
                </div>



                <div class="item">
                    <span class="titulo-item">Minoxidil</span>
                    <img src="assets/img/gallery/minoxidil.webp" alt="" class="img-item">
                    <span class="precio-item">$18.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                      <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">El minoxidil es un tratamiento tópico utilizado
                        para promover el crecimiento del cabello en personas con pérdida de cabello.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Promueve el crecimiento del cabello.</li>
                        <li>Tratamiento efectivo para la pérdida de cabello.</li>
                        <li>Fácil de aplicar y de usar.</li>
                    </ul>
                </div>




                <div class="item">
                    <span class="titulo-item">Locion</span>
                    <img src="assets/img/gallery/Locion2.jpg" alt="" class="img-item">
                    <span class="precio-item">$54.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                      <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Esta loción refrescante está diseñada para
                        revitalizar la piel y dejarla con una sensación de frescura durante todo el día.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Revitaliza la piel.</li>
                        <li>Proporciona una sensación de frescura duradera.</li>
                        <li>Fórmula ligera de rápida absorción.</li>
                    </ul>
                </div>



                <div class="item">
                    <span class="titulo-item">Shampoo</span>
                    <img src="assets/img/gallery/Shampoo.webp" alt="" class="img-item">
                    <span class="precio-item">$32.000</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                      <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Este shampoo está formulado para limpiar
                        suavemente el cabello y el cuero cabelludo, dejándolos frescos y revitalizados.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Limpia suavemente el cabello y el cuero cabelludo.</li>
                        <li>Deja el cabello fresco y revitalizado.</li>
                        <li>Fórmula suave, ideal para uso diario.</li>
                    </ul>
                </div>


                <div class="item">
                    <span class="titulo-item">Gel para afeitar</span>
                    <img src="assets/img/gallery/Gelafeitar.webp" alt="" class="img-item">
                    <span class="precio-item">$42.800</span>
                    <button class="btn1">
                        <span class="fa-solid fa-eye" aria-hidden="true"></span>
                    </button>
                      <button class="boton-item">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>


                    <!-- Descripción y beneficios ocultos -->
                    <p class="descripcion-item" style="display: none;">Este gel proporciona un afeitado suave y
                        confortable, reduciendo la irritación y el enrojecimiento.</p>
                    <ul class="beneficios-item" style="display: none;">
                        <li>Reduce la irritación y el enrojecimiento.</li>
                        <li>Facilita el deslizamiento de la cuchilla para un afeitado más suave.</li>
                        <li>Fórmula hidratante que deja la piel suave y fresca.</li>
                    </ul>
                </div>
            </div>
            </div>
            <!-- Carrito de Compras -->
            <div class="carrito" id="carrito">
                <div class="header-carrito">
                    <h2>Tu Carrito</h2>
                </div>

                <div class="carrito-items">

                </div>
                <div class="carrito-total">
                    <div class="fila">
                        <strong>Tu Total</strong>
                        <span class="carrito-precio-total">
                            $120.000,00
                        </span>
                    </div>
                    <button class="btn-pagar">Hacer pedido <i class="fa-solid
fa-bag-shopping"></i> </button>
                </div>
            </div>
        </section>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-body">
                    <img src="" alt="" class="img-item">
                    <h2></h2>
                    <p class="descripcion" style="display: none;"></p>
                    <ul class="beneficios" style="display: none;"></ul>
                </div>
            </div>
        </div>
        <div id="mensajeEmergente">
            <div class="descripcion"></div>
            <ul class="beneficios"></ul>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const filtroInput = document.getElementById('filtro');
                const filtroSelect = document.querySelectorAll('#filtroSelect .dropdown-item');

                filtroInput.addEventListener('input', function () {
                    const filtro = this.value.toLowerCase();
                    const items = document.querySelectorAll('.contenedor-items .item');
                    items.forEach(function (item) {
                        const titulo = item.querySelector('.titulo-item').textContent.toLowerCase();
                        if (titulo.includes(filtro)) {
                            item.style.display = 'block';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                });

                filtroSelect.forEach(function (item) {
                    item.addEventListener('click', function () {
                        const filtro = this.getAttribute('value');
                        const items = document.querySelectorAll('.contenedor-items .item');
                        items.forEach(function (item) {
                            item.style.display = 'block';
                        });
                        if (filtro === 'menorPrecio') {
                            ordenarPorPrecio('menor');
                        } else if (filtro === 'mayorPrecio') {
                            ordenarPorPrecio('mayor');
                        } else if (filtro === 'ordenAlfabetico') {
                            ordenarAlfabeticamente();
                        }
                    });
                });

                function ordenarPorPrecio(orden) {
                    const items = document.querySelectorAll('.contenedor-items .item');
                    const sortedItems = Array.from(items).sort(function (a, b) {
                        const precioA = parseFloat(a.querySelector('.precio-item').textContent.replace('$', '').replace(',', ''));
                        const precioB = parseFloat(b.querySelector('.precio-item').textContent.replace('$', '').replace(',', ''));
                        if (orden === 'menor') {
                            return precioA - precioB;
                        } else {
                            return precioB - precioA;
                        }
                    });
                    const contenedor = document.querySelector('.contenedor-items');
                    contenedor.innerHTML = '';
                    sortedItems.forEach(function (item) {
                        contenedor.appendChild(item);
                    });
                }

                function ordenarAlfabeticamente() {
                    const items = document.querySelectorAll('.contenedor-items .item');
                    const sortedItems = Array.from(items).sort(function (a, b) {
                        const tituloA = a.querySelector('.titulo-item').textContent.toLowerCase();
                        const tituloB = b.querySelector('.titulo-item').textContent.toLowerCase();
                        return tituloA.localeCompare(tituloB);
                    });
                    const contenedor = document.querySelector('.contenedor-items');
                    contenedor.innerHTML = '';
                    sortedItems.forEach(function (item) {
                        contenedor.appendChild(item);
                    });
                }

                // Obtener todos los botones de detalles
                const btnDetalles = document.querySelectorAll('.btn1');

                // Obtener el modal
                const modal = document.getElementById('myModal');

                // Obtener el elemento que cierra el modal
                const span = document.getElementsByClassName('close')[0];

                // Agregar un evento de clic al elemento que cierra el modal
                span.addEventListener('click', () => {
                    modal.style.display = 'none';
                });

                // Cerrar el modal si el usuario hace clic fuera del contenido del modal
                window.addEventListener('click', (event) => {
                    if (event.target === modal) {
                        modal.style.display = 'none';
                    }
                });

                // Iterar sobre cada botón de detalle y agregar un evento de clic
                btnDetalles.forEach(btn => {
                    btn.addEventListener('click', () => {
                        // Obtener el contenedor del producto asociado al botón
                        const contenedorProducto = btn.parentElement;

                        // Obtener los datos del producto
                        const titulo = contenedorProducto.querySelector('.titulo-item').textContent;
                        const precio = contenedorProducto.querySelector('.precio-item').textContent;
                        const imgSrc = contenedorProducto.querySelector('.img-item').getAttribute('src');
                        const descripcion = contenedorProducto.querySelector('.descripcion-item').textContent;
                        const beneficios = contenedorProducto.querySelector('.beneficios-item').innerHTML;

                        // Construir el contenido del modal con los datos del producto
                        const modalContent = `
                    <img src="${imgSrc}" alt="${titulo}" class="img-item">
                    <h2>${titulo}</h2>
                    <p>Precio: ${precio}</p>
                    <p class="descripcion" style="display: none;">${descripcion}</p>
                    <ul class="beneficios" style="display: none;">${beneficios}</ul>
                `;

                        // Insertar el contenido en el cuerpo del modal
                        modal.querySelector('.modal-body').innerHTML = modalContent;

                        // Obtener referencia a la imagen en el modal
                        const imgModal = modal.querySelector('.img-item');

                        // Obtener referencia a la descripción y beneficios en el modal
                        const descripcionModal = modal.querySelector('.descripcion');
                        const beneficiosModal = modal.querySelector('.beneficios');

                        // Mostrar la descripción y los beneficios al pasar el cursor sobre la imagen
                        imgModal.addEventListener('mouseover', () => {
                            descripcionModal.style.display = 'block';
                            beneficiosModal.style.display = 'block';
                        });

                        // Ocultar la descripción y los beneficios al retirar el cursor de la imagen
                        imgModal.addEventListener('mouseout', () => {
                            descripcionModal.style.display = 'none';
                            beneficiosModal.style.display = 'none';
                        });

                        // Mostrar el modal
                        modal.style.display = 'block';
                    });
                });
            });
        </script>

        <!-- Carrito -->

        <!--Pie de pagina-->
        {{>footer}}
        <!-- Pie de pagina-->

        <!-- Flecha up  -->
        <div id="back-top">
            <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>

        <!-- Todo js -->

        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="assets/js/Carrito.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
        <script src="./assets/js/jquery.slicknav.min.js"></script>
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>
        <script src="./assets/js/gijgo.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
        <script src="./assets/js/jquery.sticky.js"></script>
        <script src="./assets/js/jquery.counterup.min.js"></script>
        <script src="./assets/js/waypoints.min.js"></script>
        <script src="./assets/js/jquery.countdown.min.js"></script>
        <script src="./assets/js/hover-direction-snake.min.js"></script>
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>

</body>

</html>