<!DOCTYPE html>
<html lang="es">

<head>
  <title>BARBERIA-ORION-INDEX</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/logo2.png">
  {{> head}}
  <style>
    /* Estilos personalizados */
    .btn {
      color: black !important;
      border-color: #bdbdbd !important;
      /* Color del borde */
    }
  </style>
</head>

<body>
  <!-- Barra lateral -->
  {{> sidebar}}

  <!-- Contenido de la página -->
  <section class="full-box dashboard-contentPage">
    <!-- Barra de navegación -->
    <nav class="full-box dashboard-Navbar">
      <ul class="full-box list-unstyled text-right">
        <li class="pull-left">
          <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
        </li>
        <li>
          <a href="#!" class="btn-Notifications-area">
            <i class="zmdi zmdi-notifications-none"></i>
            <span class="badge">7</span>
          </a>
        </li>
        <li>
          <a href="#!" class="btn-search">
            <i class="zmdi zmdi-search"></i>
          </a>
        </li>
        <li>
          <a href="#!" class="btn-modal-help">
            <i class="zmdi zmdi-help-outline"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- Contenido de la página -->
    <div class="container-fluid">
      <div class="page-header">
        <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Proveedores</h1>
      </div>

    </div>


    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
      Registrar proveedor
    </button>
    <!-- Encabezado de la tabla -->
    <div class="container">
      <div class="row">
        <div class="col">
          <table id="proveedoresTable" class="table table-striped table-bordered table-hover text-nowrap">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Categoría de producto</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>Steven</td>
                <td>Cuchillas</td>
                <td>stevenvilla10@gmail.com</td>
                <td>3014175597</td>
                <td>
                  <button type="button" class="btn btn-primary btn-ver" data-bs-toggle="modal"
                    data-bs-target="#exampleModalVer">Ver</button>
                  <button type="button" class="btn btn-danger btn-eliminar" data-toggle="modal"
                    data-target="#alert-eliminar-proveedor">Eliminar</button>
                  <button type="button" class="btn btn-green btn-modificar">Modificar</button>
                </td>
              </tr>
              <!-- Agrega más filas según sea necesario -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>

  <!-- Bootstrap JS, jQuery y Popper.js -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

  <!-- Inicialización de DataTables -->
  <script>
    $(document).ready(function () {
      $('#proveedoresTable').DataTable({
        language: {
          "decimal": ",",
          "thousands": ".",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
          "infoEmpty": "Mostrando 0 de 0 de 0 entradas",
          "emptyTable": "No hay datos disponibles en la tabla",
          "infoFiltered": "(filtrado de _MAX_ entradas totales)",
          "lengthMenu": "Mostrar _MENU_ entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "No se encontraron registros coincidentes",
          "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });

      // Función para mostrar los datos del proveedor al hacer clic en el botón "Ver"
      $('#proveedoresTable').on('click', '.btn-ver', function () {
        var rowData = $(this).closest('tr').find('td').map(function () {
          return $(this).text();
        }).get();

        // Mostrar los datos del proveedor en el modal
        $('#modalNombre').text(rowData[1]);
        $('#modalCategoria').text(rowData[2]);
        $('#modalCorreo').text(rowData[3]);
        $('#modalTelefono').text(rowData[4]);

        $('#exampleModalVer').modal('show');
      });

      // Función para eliminar proveedor
      $('#proveedoresTable').on('click', '.btn-eliminar', function () {
        // Aquí puedes escribir el código para eliminar el proveedor
        // Por ejemplo, puedes hacer una solicitud AJAX al servidor para eliminar el proveedor de la base de datos
        // Una vez que se ha eliminado el proveedor, puedes actualizar la tabla o realizar cualquier otra acción necesaria
        alert('Eliminar proveedor');
      });

      // Función para modificar proveedor
      $('#proveedoresTable').on('click', '.btn-modificar', function () {
        // Aquí puedes escribir el código para modificar el proveedor
        // Por ejemplo, puedes redirigir al usuario a una página de modificación del proveedor con la información del proveedor seleccionado
        alert('Modificar proveedor');
      });

      // Función para agregar un nuevo proveedor a la tabla
      $('#registroProveedorForm').submit(function (event) {
        event.preventDefault(); // Evitar el envío del formulario por defecto

        // Obtener los valores del formulario
        var nombre = $('#nombre').val();
        var categoria = $('#categoria').val();
        var correo = $('#correo').val();
        var telefono = $('#telefono').val();

        // Agregar una nueva fila a la tabla con los valores del formulario
        $('#proveedoresTable tbody').append('<tr>' +
          '<td>02</td>' +
          '<td>' + nombre + '</td>' +
          '<td>' + categoria + '</td>' +
          '<td>' + correo + '</td>' +
          '<td>' + telefono + '</td>' +
          '<td>' +
          '<button type="button" class="btn btn-primary btn-ver" data-bs-toggle="modal" data-bs-target="#exampleModalVer">Ver</button>' +
          '<button type="button" class="btn btn-danger btn-eliminar" data-toggle="modal" data-target="#alert-eliminar-proveedor">Eliminar</button>' +
          '<button type="button" class="btn btn-green btn-modificar">Modificar</button>' +
          '</td>' +
          '</tr>');

        // Limpiar el formulario
        $('#registroProveedorForm')[0].reset();

        // Cerrar el modal de registro de proveedor
        $('#exampleModalCenter').modal('hide');
      });
    });
  </script>

  <!-- Modal para registrar proveedor -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Registrar proveedor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="registroProveedorForm">
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" class="form-control" id="nombre"
                pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+"
                title="El nombre solo puede contener letras y espacios, y no puede empezar por un espacio." required>
              <div class="invalid-feedback">
                Por favor ingresa un nombre válido.
              </div>
            </div>
            <div class="form-group">
              <label for="categoria">Categoría de producto:</label>
              <select class="form-control" id="categoria" required>
                <option value="">Selecciona una categoría</option>
                <option value="camisa">Camisa</option>
                <option value="cuchillas">Cuchillas</option>
                <option value="gorras">Gorras</option>
                <option value="gominaslociones">Gominas y Lociones</option>
              </select>
              <div class="invalid-feedback">
                Por favor selecciona una categoría.
              </div>
            </div>

            <div class="form-group">
              <label for="correo">Correo electrónico:</label>
              <input type="email" class="form-control" id="correo" required>
              <div class="invalid-feedback">
                Por favor ingresa un correo electrónico válido.
              </div>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="tel" class="form-control" id="telefono"
                pattern="[0-9]+"
                title="El teléfono solo puede contener números." required>
              <div class="invalid-feedback">
                Por favor ingresa un número de teléfono válido.
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para ver detalles del proveedor -->
  <div class="modal fade" id="exampleModalVer" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalVerTitle">Detalles del Proveedor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Nombre:</strong> <span id="modalNombre"></span></p>
          <p><strong>Categoría de producto:</strong> <span id="modalCategoria"></span></p>
          <p><strong>Correo electrónico:</strong> <span id="modalCorreo"></span></p>
          <p><strong>Teléfono:</strong> <span id="modalTelefono"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
